* {
  font-size: 62.5;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background: #fff;
  height: 300vh;
}

.pad-right-2 {
  padding-right: 2%;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.relative {
  position: absolute;
}

.cover h1 {
  color: #fff;
}

.font-white {
  color: #fff;
}

.halaman {
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section .container h1 {
  color: black;
}

.container h1 span {
  border-bottom: 2px solid #00B906;
  padding: 12px 0;
}

.container h3 {
  padding-top: 20px;
  color: black;
  font-weight: lighter;
}

.centering {
  text-align: center;
}

.flex-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-left {
  align-content: flex-start;
}

.flex-right {
  align-content: flex-end;
}


.fa-left {
  margin-left: auto;
}

.pad-t12 {
  padding-top: 20px;
}

.pad-t25 {
  padding-top: 25px;
}

.pad-r30 {
  padding-right: 30px;
}

.pad-l10 {
  padding-left: 20px;
}

.nav {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 90px;
  top: 0;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  z-index: 99;
  box-shadow: 10px 0px 35px rgba(0, 0, 0, 0.2);
}

.nav a {
  padding: 0px 10px;
  color: #000;
  text-decoration: none;
}

.nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}

.nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.nav ul li a {
  font-size: 16px;
  padding: 30px 10px;
}

.nav ul li.active > a {
  color: #00B906 !important;
}

.nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active {
  color: #00B906;
  text-decoration: none
}

.nav ul li.btn-cta a {
  color: #fff;
}

.nav ul li.btn-cta a span {
  border: none !important;
  background: #00B906;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.nav ul li.btn-cta a:hover span {
background: #00d307;
color: #fff;
}

.nav-dist {
  padding-top: 90px;
}

.cover {
  position: relative;
  height: 86.5vh;    
}

.overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.29);
}

.text-container {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.text-container h1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
}

.btn-big {
  width: 48%;
  cursor: pointer;
}

.btn-big img {
  width: 100%;
}

.middle {
  margin: 0 auto;
  display: block;
}

.col-md-6 {
  width: 50%;
}

.col-md-4 {
  width:33.33%;
}

.section {
  padding-top: 50px;
}

.section .flex-container h1 {
  color: black;
}

.flex-container h1 span {
  border-bottom: 2px solid #00B906;
  padding: 12px 0;
}

.flex-container h3 {
  padding-top: 20px;
  font-weight: lighter;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.acordion {
  background-color:white;
  margin:20px 0px;
  padding:8px 25px;
  padding-bottom:10px;
  flex-grow:1;
}
.acordion-head {
  cursor:pointer;
}
.acordion-head h3 {
  font-size:18px;
}
.acordion-content {
  border-top:1px solid #ddd;
  color:#777;
  line-height:26px;
  font-size:16px;
  padding-top:15px;
  padding-bottom:8px;
  margin-top:8px;
  display:none;
}
.acordion-content li {
  margin-left:30px;
}
.acordion-container {
  width:50%;
  flex-grow:1;
}

.acordion-head .icon {
  color:#777;
  float:right;
  margin-top:7px;
  font-size:1.2rem;
}

.right-1 {
  margin-right:1.2%;
}

.icon {
  color:#00B906;
}

.half {
  flex-grow: 1;
}

.items {
  line-height: 26px;
  padding-top: 25px;
}

.items span {
  display: block;
  color: #777;
  margin-top: 8px;
}

.items li {
  margin-bottom: 38px;
  list-style: none;
  font-size: 18px;
  color: #000;
}

.items li span {
  font-size: 0.9rem;
}

.faq {
  background-color: #efefef;
}

.flex-center-around {
  justify-content: space-around;
  align-items: center;
}

.testimonial {
  height: 480px;
}

.blog {
  background-color: #efefef;
  height: 300px;
}

.item img {
  width: 300px;
  height: 270px;
}

.flex-row {
  flex-direction: row;
}

.item-blog {
  width: 330px;
}

.item-blog .icon {
  font-size:2.5rem;
  padding:26px 30px;
  border:1px solid #00B906;
  border-radius:50%;
}

.item-footer-1 {
  width: 30rem;
}

.item-footer-1 h3 {
  font-weight: bolder;
}

.item-footer-1 a {
  color: #00B906;
  text-decoration: none;
}

.item-footer-2 {
  padding-left: 100px;
  width: 20rem;
}

.item-footer-2 h3 {
  font-weight: bolder;
}

.item-footer-3 {
  width: 30rem;
}

.item-footer-3 h3 {
  font-weight: bolder;
}

.flex-around {
  justify-content: space-evenly;
}

/*
.item-footer ul {
}*/


.item-footer-2 ul li {
  list-style: none;
}

.item-footer-2 ul li a {
  font-size: 16px;
  color: #00B906;
  text-decoration: none;
}

.copyright {
  padding-top:16px;
  padding-bottom: 50px;
}

.copyright span a {
  color: #00B906;
  text-decoration: none;
}

.copyright ul {
  float:right;
  padding-left: 400px;
}
.copyright li {
  display:inline-block;
  font-size:18px;
  padding:0px 10px;
}

.copyright li a {
  color: #00B906;
  text-decoration: none;
}

.copyright li:last-child {
  padding:0;
}

footer small {
  font-size:14px;
}